<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fourth CSIT Quiz Registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-inverse navbar-nav navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                    <a href="~/Views/Participant/Index.cshtml"><img src="~/Image/registration.png" height="100" title="Fourth CSIT Quiz Registration" /></a>
                
            </div>

        </div>
        
    </div>
   
   <div style="height:40px;"></div>


    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Designed and Developed by ASaAR Tech.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
